<% html_title(l(:label_issue_templates)) %>

<%= content_for :header_tags do %>
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
<% end %>

<div class="contextual">
  <%= link_to l(:label_template_new), new_issue_template_path(template_type: 'creation'),
              :class => 'icon icon-add' %>
  <%= link_to l(:label_status_template_new), new_issue_template_path(template_type: 'status_change'),
              :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_issue_templates) %></h2>

<% if @templates.any? %>
  <% @templates_by_type.each do |template_type, templates| %>
    <h3><%= l("label_#{template_type}_templates") %></h3>

    <table class="list sortable-table">
      <thead>
        <tr>
          <th><%= l(:field_position) %></th>
          <th><%= l(:field_name) %></th>
          <th><%= l(:field_description) %></th>
          <th><%= l(:field_project) %></th>
          <th><%= l(:field_tracker) %></th>
          <% if template_type == 'status_change' %>
            <th><%= l(:field_status) %></th>
          <% end %>
          <th><%= l(:field_enabled) %></th>
          <th><%= l(:label_reorder) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="sortable-tbody" data-template-type="<%= template_type %>">
        <% templates.each do |template| %>
          <tr class="<%= cycle("odd", "even") %> sortable-row" data-template-id="<%= template.id %>">
            <td class="position-cell"><%= template.position %></td>
            <td><%= link_to template.name, issue_template_path(template) %></td>
            <td><%= truncate(template.description, length: 100) %></td>
            <td>
              <% if template.is_global %>
                <em><%= l(:label_global) %></em>
              <% else %>
                <%= template.project&.name || l(:label_all_projects) %>
              <% end %>
            </td>
            <td><%= template.tracker&.name || l(:label_all_trackers) %></td>
            <% if template_type == 'status_change' %>
              <td><%= template.issue_status&.name || l(:label_all_statuses) %></td>
            <% end %>
            <td>
              <%= checked_image(template.enabled?) %>
            </td>
            <td class="reorder-buttons">
              <span class="reorder-links">
                <%= button_to '↑', reorder_issue_template_path(template, direction: 'up'),
                            class: 'icon-only icon-arrow-up',
                            method: :patch,
                            form: { class: 'reorder-form' },
                            title: l(:button_move_up),
                            data: {
                              direction: 'up',
                              template_id: template.id
                            } %>
                <%= button_to '↓', reorder_issue_template_path(template, direction: 'down'),
                            class: 'icon-only icon-arrow-down',
                            method: :patch,
                            form: { class: 'reorder-form' },
                            title: l(:button_move_down),
                            data: {
                              direction: 'down',
                              template_id: template.id
                            } %>
              </span>
            </td>
            <td class="buttons">
              <%= link_to l(:button_edit), edit_issue_template_path(template),
                          :class => 'icon icon-edit' %>
              <%= link_to l(:button_delete), issue_template_path(template),
                          :method => :delete,
                          :confirm => l(:text_are_you_sure),
                          :class => 'icon icon-del' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<%= content_for :header_tags do %>  <style type="text/css">
    td.reorder-buttons {
      white-space: nowrap;
      text-align: center;
    }
    .reorder-links {
      display: inline-block;
    }
    form.reorder-form {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
    form.reorder-form button {
      border: none;
      background: none;
      cursor: pointer;
      color: #2A5685;
      font-size: 14px;
      padding: 2px;
      margin: 0 3px;
      width: 16px;
      height: 16px;
      line-height: 16px;
    }
    form.reorder-form button:hover {
      text-decoration: underline;
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function() {
      // Prevent double submission
      $('form.reorder-form').on('submit', function() {
        var $form = $(this);
        if ($form.data('submitting')) {
          return false;
        }

        $form.data('submitting', true);
        setTimeout(function() {
          $form.data('submitting', false);
        }, 2000);

        return true;
      });
    });
  </script>
<% end %>
